<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>	
	
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script> -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script>
	$(document).ready(function() {
	  	
		var i=1;
		/*$("#add_row").click(function(){
			
	     $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='name"+i+"' type='text' placeholder='Name' class='form-control input-md'  ></input> </td><td><input  name='mail"+i+"' type='text' placeholder='Mail'  class='form-control input-md'></input> </td><td><input  name='mobile"+i+"' type='text' placeholder='Mobile'  class='form-control input-md'></input></td>");
	    
	     //var texto = "<td>"+ (i+1) +"</td><td><input name='name"+i+"' type='text' placeholder='Name' class='form-control input-md'  ></input> </td><td><input  name='mail"+i+"' type='text' placeholder='Mail'  class='form-control input-md'></input> </td><td><input  name='mobile"+i+"' type='text' placeholder='Mobile'  class='form-control input-md'></input></td>";
	     $('#addr'+i).html("<td>"+ (i+1) +"</td>");
	      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
	      i++;
			
	  });
	     
		$("#add_row").click(function(){
		      $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='name"+i+"' type='text' placeholder='Name' class='form-control input-md'  /> </td><td><input  name='mail"+i+"' type='text' placeholder='Mail'  class='form-control input-md'/></td><td><input  name='mobile"+i+"' type='text' placeholder='Mobile'  class='form-control input-md'/></td>");
		      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
		      i++;
				
		  }); */
		
		 $("#delete_row").click(function(){
	    	 if(i>1){
			 $("#addr"+(i-1)).html('');
			 i--;
			 }
		 });
		
		$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
			var $total = navigation.find('li').length;
			var $current = index+1;
			var $percent = ($current/$total) * 100;
			$('#rootwizard').find('.bar').css({width:$percent+'%'});
		}});
		$('#rootwizard .finish').click(function() {			
			$('#rootwizard').find("a[href*='tab1']").trigger('click');
		});
		

		
	});
	</script>
</head>
<body>

<h1>Wizard generador mensaje OML - Gestor peticiones</h1>
<!-- 
<form method="POST" action="/confirmacionInforme" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />   	
</form>
-->
<div id="rootwizard">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	<ul>
	  	<li><a href="#tab1" data-toggle="tab">Cabecera MSH</a></li>
		<li><a href="#tab2" data-toggle="tab">Datos Paciente PID</a></li>
		<li><a href="#tab3" data-toggle="tab">Datos Admin. - PV1</a></li>
		<li><a href="#tab4" data-toggle="tab">Datos Garante - GT1</a></li>
		<li><a href="#tab5" data-toggle="tab">Datos Peticion - ORC</a></li>
		<li><a href="#tab6" data-toggle="tab">Datos Pruebas - OBR</a></li>		
	</ul>
	 </div>
	  </div>
	</div>
		<form class="form-horizontal" th:object="${mensajeHL7}" th:action="@{/ResultadoMensajesHL7}" method="post">
		<div class="tab-content">
			<div class="tab-pane" id="tab1">
			
				<div class="row">
			<div id="" style="background-color: #cfc; border-radius:8px; padding: 10px 10px 10px 10px;">
				<div class="form-group jorge">
    				<label for="sistemaOrigen" class="col-sm-3 control-label">Sistema Origen:</label>
    				<div class="col-sm-4">
    					<input type="text" class="form-control" id="sistemaOrigen" placeholder="sistemaOrigen" th:field="*{sistemaOrigen}"/>
    				</div>
    			</div>
    			<div class="form-group">
    				<label for="sistemaDestino" class="col-sm-3 control-label">Sistema Destino:</label>
    				<div class="col-sm-4">
    					<input type="text" class="form-control" id="sistemaDestino" placeholder="sistemaDestino" th:field="*{sistemaDestino}"/>
    				</div>
  				</div>	
    		</div>
    	</div>
				
			</div>
			<div class="tab-pane" id="tab2">
				<div class="form-group">
					<label for="numeroTarjeta" class="col-sm-2 control-label">Numero
						de tarjeta:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="numeroTarjeta"
							placeholder="Numero de tarjeta" th:field="*{numeroTarjeta}" />
					</div>
				</div>
				<div class="form-group">
    		<label for="dni" class="col-sm-2 control-label">DNI:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="dni" placeholder="dni" th:field="*{dni}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="apellido1" class="col-sm-2 control-label">Apellido 1:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="apellido1" placeholder="Apellido 1" th:field="*{apellido1}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="apellido2" class="col-sm-2 control-label">Apellido 2:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="apellido2" placeholder="Apellido 2" th:field="*{apellido2}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="nombre" class="col-sm-2 control-label">Nombre:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="nombre" placeholder="Nombre del paciente" th:field="*{nombre}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="fechaNacimiento" class="col-sm-2 control-label">Fecha de nacimiento:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="fechaNacimiento" placeholder="Fecha de nacimiento" th:field="*{fechaNacimiento}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="genero" class="col-sm-2 control-label">Sexo:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="genero" placeholder="Genero" th:field="*{genero}"/>
    		</div>
  		</div>
			</div>
			<div class="tab-pane" id="tab3">
			<div class="form-group">
    		<label for="tipoIngreso" class="col-sm-2 control-label">Tipo de ingreso:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="tipoIngreso" placeholder="Tipo de ingreso" th:field="*{tipoIngreso}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="nombreMedicoResponsable" class="col-sm-2 control-label">Nombre del medico responsable:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="nombreMedicoResponsable" placeholder="Nombre del medico responsable" th:field="*{nombreMedicoResponsable}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="apellido1MedicoResponsable" class="col-sm-2 control-label">Apellido1 del medico responsable:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="apellido1MedicoResponsable" placeholder="Apellido1 del medico responsable" th:field="*{apellido1MedicoResponsable}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="apellido2MedicoResponsable" class="col-sm-2 control-label">Apellido2 del medico responsable:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="apellido2MedicoResponsable" placeholder="Apellido2 del medico responsable" th:field="*{apellido2MedicoResponsable}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="codigoMedicoResponsable" class="col-sm-2 control-label">Codigo del medico responsable:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="codigoMedicoResponsable" placeholder="Codigo del medico responsable" th:field="*{codigoMedicoResponsable}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="servicio" class="col-sm-2 control-label">Servicio:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="servicio" placeholder="Servicio" th:field="*{servicio}"/>
    		</div>
  		</div>
  		
			</div>
			<div class="tab-pane" id="tab4">
				<div class="form-group">
    		<label for="codigoGarante" class="col-sm-2 control-label">Codigo del garante:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="codigoGarante" placeholder="Codigo del garante" th:field="*{codigoGarante}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="descripcionGarante" class="col-sm-2 control-label">Descripcion del garante:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="descripcionGarante" placeholder="Descripcion del garante" th:field="*{descripcionGarante}"/>
    		</div>
  		</div>
			</div>
			<div class="tab-pane" id="tab5">
			<div class="form-group">
    		<label for="idPeticionarioPrueba" class="col-sm-2 control-label">Id prueba:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="idPeticionarioPrueba" placeholder="Id prueba" th:field="*{idPeticionarioPrueba}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="idPeticionarioPeticion" class="col-sm-2 control-label">Id peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="idPeticionarioPeticion" placeholder="Id peticion" th:field="*{idPeticionarioPeticion}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="fechaPeticion" class="col-sm-2 control-label">Fecha peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="fechaPeticion" placeholder="Fecha peticion" th:field="*{fechaPeticion}"/>
    		</div>
  		</div>
  		
  		
  		<div class="form-group">
    		<label for="nombreMedicoPeticion" class="col-sm-2 control-label">Nombre del medico peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="nombreMedicoPeticion" placeholder="Nombre del medico peticion" th:field="*{nombreMedicoPeticion}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="apellido1MedicoPeticion" class="col-sm-2 control-label">Apellido1 del medico peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="apellido1MedicoPeticion" placeholder="Apellido1 del medico peticion" th:field="*{apellido1MedicoPeticion}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="apellido2MedicoPeticion" class="col-sm-2 control-label">Apellido2 del medico peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="apellido2MedicoPeticion" placeholder="Apellido2 del medico peticion" th:field="*{apellido2MedicoPeticion}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="codigoMedicoPeticion" class="col-sm-2 control-label">Codigo del medico peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="codigoMedicoPeticion" placeholder="Codigo del medico peticion" th:field="*{codigoMedicoPeticion}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="servicioPeticion" class="col-sm-2 control-label">Servicio de la peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="servicioPeticion" placeholder="Servicio de la peticion" th:field="*{servicioPeticion}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="descripcionServicioPeticion" class="col-sm-2 control-label">Descripcion del servicio de la peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="descripcionServicioPeticion" placeholder="Descripcion del servicio de la peticion" th:field="*{descripcionServicioPeticion}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="codigoCentroPeticion" class="col-sm-2 control-label">Centro de la peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="codigoCentroPeticion" placeholder="Centro de la peticion" th:field="*{codigoCentroPeticion}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="descripcionCentroPeticion" class="col-sm-2 control-label">Descripcion del centro de la peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="descripcionCentroPeticion" placeholder="Descripcion del centro de la peticion" th:field="*{descripcionCentroPeticion}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="codigoPrioridadPeticion" class="col-sm-2 control-label">Codigo de prioridad de la peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="codigoPrioridadPeticion" placeholder="Codigo de prioridad de la peticion" th:field="*{codigoPrioridadPeticion}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="descripcionPrioridadPeticion" class="col-sm-2 control-label">Descripcion de prioridad de la peticion:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="descripcionPrioridadPeticion" placeholder="Descripcion de prioridad de la peticion" th:field="*{descripcionPrioridadPeticion}"/>
    		</div>
  		</div>
			</div>
			<div class="tab-pane" id="tab6">
				<div class="form-group">
    		<label for="codigoPrueba" class="col-sm-2 control-label">Codigo de prueba:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="codigoPrueba" placeholder="Codigo de prueba" th:field="*{codigoPrueba}"/>
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="descripcionPrueba" class="col-sm-2 control-label">Descripcion de la prueba:</label>
    		<div class="col-sm-4">
    			<input type="text" class="form-control" id="descripcionPrueba" placeholder="Descripcion de la prueba" th:field="*{descripcionPrueba}"/>
    		</div>
  		</div>
  		
  		<!-- <div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							#
						</th>
						<th class="text-center">
							Name
						</th>
						<th class="text-center">
							Mail
						</th>
						<th class="text-center">
							Mobile
						</th>
					</tr>
				</thead>
				<tbody>
					<tr id='addr0'>
						<td>
						1
						</td>
						<td>
						<input type="text" name='name0'  placeholder='Name' class="form-control"></input>
						</td>
						<td>
						<input type="text" name='mail0' placeholder='Mail' class="form-control"></input>
						</td>
						<td>
						<input type="text" name='mobile0' placeholder='Mobile' class="form-control"></input>
						</td>
					</tr>
                    <tr id='addr1'></tr>
				</tbody>
			</table>
		</div>
	</div>
	<a id="add_row" class="btn btn-default pull-left">Add Row</a><a id='delete_row' class="pull-right btn btn-default">Delete Row</a> -->
  	<br/>
			</div>
			<div class="tab-pane" id="tab7">7</div>
			<div class="tab-pane" id="tab7">8</div>
			<ul class="pager wizard">
				<li class="previous first"><a href="javascript:;">First</a></li>
				<li class="previous"><a href="javascript:;">Previous</a></li>
				<li class="next last"><a href="javascript:;">Last</a></li>
				<li class="next"><a href="javascript:;">Next</a></li>
				<li class="finish"><!-- <a href="javascript:;">Finish </a>--><button type="submit">Generar Mensaje</button></li>
			</ul>
		</div>
		</form>
	</div>
	
	<script src="js/jquery.bootstrap.wizard.js"></script>
</body>
</html>