<!DOCTYPE html>
<html lang="en">
<head>
  <title>BackOffice Integracion Medios Diagnosticos</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
  <link href="../vendor/morrisjs/morris.css" rel="stylesheet"></link>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <script src="../vendor/raphael/raphael.min.js"></script>
  <script src="../vendor/morrisjs/morris.min.js"></script>
  
  
  
  <script th:inline="javascript">
  /*<![CDATA[*/
  	
	var json = [[${datosCodigos}]];
  	var datosArea  = [[${datosTrazasListado}]];
    
	$(document).ready(function(){ 
		Morris.Bar({
			  element: 'bar-example',
			  data: json,
			  xkey: 'label',
			  ykeys: ['value'],
			  labels: ['Total códigos del sistema']
			});     
		
		Morris.Donut({
			  element: 'donut-example',
			  data: json
			});
		
		Morris.Area({
			  element: 'area-example',
			  data: datosArea,
			  xkey: 'leyenda',
			  ykeys: ['total'],
			  labels: ['Total trazas el dia'],
			  xLabelFormat: function (timestamp) {
				    var date = new Date(timestamp);
				    return date.getDate() + '-' + date.getMonth() + '-' + date.getFullYear() ;
				},
				dateFormat: function (timestamp) {
				    var date = new Date(timestamp);
				    return date.getDate() + '-' + date.getMonth() + '-' + date.getFullYear() ;
				},
				lineColors: ['#6094b2']
				
			});
	});
	
	$(document).on('click', '.panel-heading span.clickable', function(e){
	    var $this = $(this);
		if(!$this.hasClass('panel-collapsed')) {
			$this.parents('.panel').find('.panel-body').slideUp();
			$this.addClass('panel-collapsed');
			$this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
		} else {
			$this.parents('.panel').find('.panel-body').slideDown();
			$this.removeClass('panel-collapsed');
			$this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
		}
	});
	
  /*]]>*/
	</script>
	<style type="text/css">
    	.row{
    		margin-top:40px;
    		padding: 0 10px;
		}

		.clickable{
    		cursor: pointer;   
		}

		.panel-heading span {
			margin-top: -20px;
			font-size: 15px;
		}
    </style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                	<!-- <i class="fa fa-tags fa-3x"></i>  -->
                                	<label>Códigos</label>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                    		<label th:text="${totalCodigos}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <!-- <span class="pull-left">View Details</span> -->
                                <button type="button" class="fa fa-arrow-circle-right" data-toggle="modal" data-target="#modalGraficos">Grafico 1</button>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
		<div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                	<!-- <i class="fa fa-tags fa-3x"></i>  -->
                                	<label>Correlaciones</label>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                    		<label th:text="${totalCorrelaciones}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading panel-collapsed">
					<h3 class="panel-title">Panel 1</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body">
					<div id="area-example"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Panel 2</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body"><div id="bar-example"></div></div>
		</div>
	</div>
	</div>
	<!--
	<div class="row">
		<div id="bar-example"></div>
	</div>
	
	<div class="row">
		<div id="area-example"></div>
	</div>
	 <div class="row">
		<div id="donut-example"></div>
	</div> -->
	<!-- Ventana Modal para los graficos de los códigos -->
  	<div class="modal fade" id="modalGraficos" role="dialog">
    	<div class="modal-dialog">    
      		<!-- Contenido de la ventana modal-->
      		<div class="modal-content">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">Grafico códigos de los sistemas</h4>
        		</div>
        		<div class="modal-body">
          			<div class="row">
						<div id="donut-example"></div>
					</div>
        		</div>
        		<div class="modal-footer">
          			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        		</div>
      		</div>      
    	</div>
  	</div>
	
	
	
</div>
</body>
</html>