<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"></link>   
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></link>
	<script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script >
  $(document).ready(function(){
	    $('#myTable').dataTable(
	    		{
	    			  "createdRow": function( row, data, dataIndex ) {	    				 
	    			    if ( data[0] == "No valido" ) {
	    			      //$(row).addClass( 'odd' );
	    			      $(row).css("background-color","#EC7063");
	    			    }
	    			  }
	    			} 		
	    );
	    $('#tablaDuplicados').dataTable();
	    $('#tablaErroneos').dataTable();	
	    $('#tablaCodigosB').dataTable();
	    $('#tablaDuplicadosB').dataTable();
	    $('#tablaErroneosB').dataTable();	
	});
  
  /*
  $('#example').dataTable( {
  "createdRow": function( row, data, dataIndex ) {
    if ( data[4] == "A" ) {
      $(row).addClass( 'important' );
    }
  }
} );
  */
  </script>
</head>
<body>

<div class="container">

	<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Codigos A</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Codigos B</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Correlaciones</a></li>
    <li role="presentation"><a href="#info" aria-controls="messages" role="tab" data-toggle="tab">Informacion</a></li>
    <li role="presentation"><a href="#ficheros" aria-controls="messages" role="tab" data-toggle="tab">Ficheros SQL</a></li>
  </ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
  <!-- //////////////////////// -->
  			<br></br>
  			<!-- Button trigger modal -->
            <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-warning-sign"></i>
              Codigos A Duplicados
            </button>
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modalError"><i class="glyphicon glyphicon-exclamation-sign"></i>
              Codigos A Erroneos
            </button>
            <br></br>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Codigos duplicados</h4>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
						<table id="tablaDuplicados" class="display table" width="100%" >		
        					<thead>  
          						<tr>  
            						<th>Codigo</th>  
            						<th>Descripcion</th>  
          						</tr>  
        					</thead>  
        					<tbody>  
          						<tr th:each="codigoDuplicado : ${codigosDuplicados}">
                					<td th:text="${codigoDuplicado.codigo}">codigo</td>
                					<td th:text="${codigoDuplicado.descripcion}">descripcion</td>
            					</tr>  
        					</tbody>  
						</table>
						</div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Codigos erroneos</h4>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
						<table id="tablaErroneos" class="display table" width="100%" >		
        					<thead>  
          						<tr>  
            						<th>Codigo</th>  
            						<th>Descripcion</th>  
          						</tr>  
        					</thead>  
        					<tbody>  
          						<tr th:each="codigoErroneo : ${codigosErroneos}">
                					<td th:text="${codigoErroneo.codigo}">codigo</td>
                					<td th:text="${codigoErroneo.descripcion}">descripcion</td>
            					</tr>  
        					</tbody>  
						</table>
						</div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
  <!-- //////////////////////// -->
  <br></br>
  <div class="table-responsive">
	<table id="myTable" class="display table" width="100%" >		
        <thead>  
          <tr>  
            <th>Codigo</th>  
            <th>Descripcion</th>  
            <th>Sistema</th>  
            <th>Tipo</th>  
          </tr>  
        </thead>  
        <tbody>  
          <tr th:each="codigo : ${codigos}">
                <td th:text="${codigo.codigo}">codigo</td>
                <td th:text="${codigo.descripcion}">descripcion</td>
                <td th:text="${codigo.sistema}">sistema</td>                
                <td th:text="${codigo.tipo}">tipo</td>
            </tr>  
        </tbody>  
	</table>
	</div>
    
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    	<!-- //////////////////////// -->
  		<br></br>
  		<!-- Button trigger modal -->
        <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#modalDuplicadosB"><i class="glyphicon glyphicon-warning-sign"></i>
              Codigos B Duplicados
            </button>
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modalErrorB"><i class="glyphicon glyphicon-exclamation-sign"></i>
              Codigos B Erroneos
            </button>
            <br></br>
            <!-- Modal -->
            <div class="modal fade" id="modalDuplicadosB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Codigos duplicados</h4>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
						<table id="tablaDuplicadosB" class="display table" width="100%" >		
        					<thead>  
          						<tr>  
            						<th>Codigo</th>  
            						<th>Descripcion</th>  
          						</tr>  
        					</thead>  
        					<tbody>  
          						<tr th:each="codigoBDuplicado : ${codigosBDuplicados}">
                					<td th:text="${codigoBDuplicado.codigo}">codigo</td>
                					<td th:text="${codigoBDuplicado.descripcion}">descripcion</td>
            					</tr>  
        					</tbody>  
						</table>
						</div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="modal fade" id="modalErrorB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Codigos erroneos</h4>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
						<table id="tablaErroneosB" class="display table" width="100%" >		
        					<thead>  
          						<tr>  
            						<th>Codigo</th>  
            						<th>Descripcion</th>  
          						</tr>  
        					</thead>  
        					<tbody>  
          						<tr th:each="codigoBErroneo : ${codigosBErroneos}">
                					<td th:text="${codigoBErroneo.codigo}">codigo</td>
                					<td th:text="${codigoBErroneo.descripcion}">descripcion</td>
            					</tr>  
        					</tbody>  
						</table>
						</div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
  <!-- //////////////////////// -->
  <br></br>
    	<div class="table-responsive">
			<table id="tablaCodigosB" class="display table" width="100%" >		
        		<thead>  
          			<tr>  
            			<th>Codigo</th>  
            			<th>Descripcion</th>              		
          			</tr>  
        		</thead>  
        		<tbody>  
          			<tr th:each="codigoB : ${codigosBSinDuplicados}">
                		<td th:text="${codigoB.codigo}">codigo</td>
                		<td th:text="${codigoB.descripcion}">descripcion</td>                
            		</tr>  
        		</tbody>  
			</table>
    	</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="info">...</div>
    <div role="tabpanel" class="tab-pane" id="ficheros">...</div>
    
  </div>


  
</div>

</body>
</html>