<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"></link>
  <link href="../vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet"></link>   
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></link>
	<script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="../vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
	<script src="../vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.ar.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.az.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.bg.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.bs.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.ca.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.cs.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.cy.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.da.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.el.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.en-GB.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.et.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.eu.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.fa.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.fi.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.fo.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.fr-CH.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.gl.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.he.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.hr.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.hu.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.hy.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.id.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.is.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.it-CH.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.ka.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.kh.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.kk.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.kr.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.lt.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.lv.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.mk.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.ms.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.nb.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.nl.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.nl-BE.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.no.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.pl.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.pt.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.ro.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.rs.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.rs-latin.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.sk.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.sl.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.sq.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.sr.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.sr-latin.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.sv.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.sw.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.th.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
    <script src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.min.js" charset="UTF-8"></script>
	
	
	
  <script >
  $(document).ready(function(){
	    $('#myTable').dataTable(
	    		{
	    			  "createdRow": function( row, data, dataIndex ) {	    				 
	    			    if ( data[0] == "No valido" ) {
	    			      //$(row).addClass( 'odd' );
	    			      $(row).css("background-color","#EC7063");
	    			    }
	    			  }
	    			} 		
	    );
	    /*$('#tablaDuplicados').dataTable();
	    $('#tablaErroneos').dataTable();	
	    $('#tablaCodigosB').dataTable();
	    $('#tablaDuplicadosB').dataTable();
	    $('#tablaErroneosB').dataTable();	
	    $('#tablaCorrelaciones').dataTable();*/
	    
	 	// Funcion para la carga de las insert en el campo de texto
	    $('#botonCargar').click(function() {	  		
	   		$.ajax({
	    			type: "POST",
	    			url: "/recuperarSQL",
	    			data: { 	    				 
	    				sistema: $('#sistemaA').val(),
	    				tipo: $('#tipoCodigo').val()
	    			}
	  		}).done(function( resp ) {	    			
	    			$('#sentenciasCodigosA').append(resp);
	  		});    
	  	});
	 	
	 // Funcion para la carga de las insert en el campo de texto
	    $('#botonCargarB').click(function() {	  		
	   		$.ajax({
	    			type: "POST",
	    			url: "/recuperarSQLB",
	    			data: { 	    				 
	    				sistema: $('#sistemaB').val(),
	    				tipo: $('#tipoCodigo').val(),	    				
	    			}
	  		}).done(function( resp ) {	    			
	    			$('#sentenciasCodigosB').append(resp);
	  		});    
	  	});
	 
	 // Funcion para la carga de las insert en el campo de texto
	    $('#botonCargarCorrelaciones').click(function() {	  		
	   		$.ajax({
	    			type: "POST",
	    			url: "/recuperarSQLCorrelacion",
	    			data: { 	    				 
	    				sistemaA: $('#sistemaA').val(),
	    				sistemaB: $('#sistemaB').val(),
	    				tipo: $('#tipoCodigo').val(),	    				
	    			}
	  		}).done(function( resp ) {	    			
	    			$('#sentenciasCorrelaciones').append(resp);
	  		});    
	  	});
	 
	    
	 
	});
  
  $('#busqueda-form').on('submit', function(e){
      e.preventDefault();
      $.ajax({
          url: 'tablaTrazas/',
          type: 'POST',
          data: $('#busqueda-form').serialize(),
          success: function(data){	                	 
          	 // Recarga la pagina para que actualice los cambios
               location.reload();	                     
          }
      });
  });
  
  $('#sandbox-container .input-daterange').datepicker({
      format: "dd/mm/yyyy"
  });
  
  </script>
</head>
<body>

<div class="container">

	<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Trazas Completas</a></li>    
  </ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
  
  <br></br>
  <div class="table-responsive">
  	<form id="busqueda-form" class="form-horizontal"  th:action="@{/tablaTrazas}" method="post">
  		<label for="sistemaOrigen" class="col-sm-1 control-label">Sistema:</label>
  		<select id="listaSistemas" name="listaSistemas" class="col-sm-2 selectpicker" data-show-subtext="true">
   			<option th:each="sistema : ${datosSistemas}" th:value="${sistema.idSistema}" th:text="${sistema.idSistema}" th:attr="data-subtext=${sistema.descripcion}"  ></option>
   		</select>
   		<label for="fechaDesde" class="col-sm-3 control-label">Fecha Desde:</label>
   		<div class="col-sm-4">
   			<input name="fechaDesde" type="text" class="form-control" id="fechaDesde2" placeholder="Fecha Desde" />
   		</div>
   		<div class="input-daterange input-group" id="datepicker">
    		<input type="text" class="input-sm form-control" name="fechaDesde" />
    		<span class="input-group-addon">to</span>
    		<input type="text" class="input-sm form-control" name="fechaHasta" />
		</div>
   		
   		<button id="btnBusqueda" type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span id="spnBusqueda" class="glyphicon glyphicon-ok-sign"></span> Buscar</button>
   </form>
   
  	<br></br>
  	<br></br>
  	<br></br>
	<table id="myTable" class="display table" width="100%" >		
        <thead>  
          <tr>  
            <th>Id</th>  
            <th>IdMensaje</th>  
            <th>Sistema</th>  
            <th>Mensaje</th>  
            <th>fecha</th>
          </tr>  
        </thead>  
        <tbody>  
          <tr th:each="traza : ${datosTrazas}">
                <td th:text="${traza.id}">codigo</td>
                <td th:text="${traza.idMensaje}">descripcion</td>
                <td th:text="${traza.sistMensaje}">sistema</td>                
                <td th:text="${traza.mensaje}">tipo</td>
                <td th:text="${#dates.formatISO(traza.fecha)}">tipo</td>
                <!-- <td th:text="${#dates.format(traza.fecha,'dd-MM-yyyy HH:MI:SS')}">tipo</td> -->
            </tr>  
        </tbody>  
	</table>
	</div>
    
    </div>
    </div>
</div>

</body>
</html>