<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<link href="../static/css/guru.css" th:href="@{css/guru.css}"
	rel="stylesheet" media="screen" />
<script th:inline="javascript">
/*<![CDATA[*/
function getCheckedRadio(nombre) {
	var radio_group = document.getElementsByName(nombre);
    var button;
	for (var i = 0; i < radio_group.length; i++) {
        var button = radio_group[i];
        if (button.checked) {
            break;
        }else{
        	button = null;
        }
    }
	// Deshabilitamos el boton
	var idBoton = nombre.concat('button');
	document.getElementById(idBoton).disabled = true;
	
	if(button !=null ){
		if (button.value == 'true'){
			//alert('acierto');
			document.getElementById(idBoton).style.backgroundColor="#4ef442";
		} else {
			//alert('error');
			document.getElementById(idBoton).style.backgroundColor="#f44242";
			var nombreTextarea = nombre.concat('textarea');
			document.getElementById(nombreTextarea).setAttribute('style','visibility:visible');
		}
	}
	// Cambiamos el color de la fuente de los labels de las respuestas
	for (var i = 0; i < radio_group.length; i++) {
        var button = radio_group[i];
        var idLabel = button.id.concat('label');
        if (button.value == 'true') {
        	document.getElementById(idLabel).style.color = "green";
        }else{
        	document.getElementById(idLabel).style.color = "red";
        }
    }
	
	
}
/*]]>*/
</script>
</head>
<body>
	<div class="container">
	<div th:each="pregunta, stat : ${preguntasExamen.getPreguntas()}">   
          	<label th:text="${pregunta.texto}"></label>      
          	<br></br>
  				<div th:each="ty, statResp : ${pregunta.respuestas}">
    				<input type="radio" th:name="${pregunta.id}" th:value="${ty.verdadero}" th:id="${pregunta.id + statResp.count} "/>
    				<label th:id="${ pregunta.id + statResp.count + 'label'} " th:text="${ty.respuesta}">Wireframe</label>    				
  				</div>
			<br></br>			
			<input type="button" value="Responder" th:id="${pregunta.id + 'button'}" th:onclick="'javascript:getCheckedRadio(\'' + ${pregunta.id } + '\');'"/>
			<br></br>
			<br></br>  
			<textarea rows="3" cols="100" th:id="${pregunta.id + 'textarea'} " th:text="${pregunta.explicacion}" style="display:none"></textarea>
			<br></br> 
    		
  		</div>
	</div>
</body>
</html>